{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets
    'css/bootstrap.css'
     %}
    {#'@VadimTaskBundle/Resources/public/css/style.less'#}
    {#%}#}
    <link href="{{ asset_url }}" media="all" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ render(controller('VadimTaskBundle:Creator:filtration')) }}
        {% block content %}
        {% endblock content %}
    </div>
        {% block footer %}
        {% endblock footer %}
{% endblock body %}
